<!DOCTYPE html>
<html>
<head>
    <title>Blog | Postlar</title>
</head>
<body>
    <h1>Barcha postlar</h1>

    <a href="{% url 'post_create' %}">➕ Yangi post qo‘shish</a>
    <hr>

    {% for post in posts %}
        <h2>
            <a href="{% url 'post_detail' post.id %}">
                {{ post.title }}
            </a>
        </h2>
        <p>{{ post.content|truncatewords:20 }}</p>
        <small>{{ post.created_at }}</small>
        <hr>
    {% empty %}
        <p>Hozircha postlar yo‘q</p>
    {% endfor %}
</body>
</html>
